$textPrimary: #FFF;


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    color: $textPrimary;
}

a {
    color: $textPrimary;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    color: $textPrimary;
    margin: 0;
    padding: 0;
}


nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: blue;
    .logo {
        text-align: center;
        padding: 15px 0px;
        border-bottom: 5px solid white; 
    }
}



main {
    margin-left: 300px;
}