$textPrimary: #FFF;
$colorPrimary: #3b404f;
$colorSecondary: #c3cbe8;
$transitionFast: all 0.25s ease;
$shadowDark: rgba(0 0 0 / 75%);
$shadowMedium: rgba(0 0 0 / 50%);
$shadowLight: rgba(0 0 0 / 25%);

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    color: $textPrimary;
    padding: 0;
}

a {
    color: $textPrimary;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3rem;
    color: $textPrimary;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.2rem;
    color: $textPrimary;
    margin: 0;
    padding: 0;
}
h3 {
    
    font-size: 1.25rem;
    color: $textPrimary;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    color: $textPrimary;
    margin: 0;
    padding: 0;
}


nav {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $colorPrimary;
    border-right: 5px solid white;
    box-shadow: 0 0 10px $shadowDark;
    z-index: 2;
    .logo {
        text-align: center;
        padding: 15px 0px;
        border-bottom: 5px solid white; 
        cursor: pointer;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li {
            text-align: center;
            margin: 10px 0px;
            a {
                padding: 20px;
                line-height: 1.5rem;
                transition: $transitionFast;
                h3 {
                    line-height: 1.5rem;
                    transition: $transitionFast;
                }
                &:hover {
                    background: $colorSecondary;
                    box-shadow: inset 0 0 10px 5px rgb(0 0 0 / 50%);
                    line-height: 1.5rem;
                    transition: $transitionFast;
                    h3 {
                        color: $colorPrimary;
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        transition: $transitionFast;
                    }
                }
            }
            .nav-text {
                display: block;
            }
            .icon {
                display: none;
            }
        }
    }
    .socials {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 20px;
        a {
            font-size: 1.5rem;
        }
        .github {
            i {
                &:hover {
                    color: #6cc644;
                }
            }
        }
        .linkedin {
            i {
                &:hover {
                    color: #0085d2;
                }
            }
        }
    }
}



main {
    background: $colorSecondary;
    position: relative;
    .close-btn {
        background: rgba(0 0 0 / 55%);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 150px;
        z-index: 10;
        display: none;
        cursor: pointer;
    }
    .burger-btn {
        display: none;
        position: fixed;
        top: 10px;
        left: 20px;
        background-color: white;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-shadow: 0 0 10px $shadowDark;
        z-index: 2;
        .burger-line {
            position: absolute;
            background: black;
            height: 10px;
            width: 80%;
            top: 25px;
            left: 6px;
            border-radius: 0px;
            &::before {
                content: "";
                position: absolute;
                background: black;
                height: 10px;
                width: 100%;
                top: 15px;
                border-radius: 2px 2px 15px 15px;
            }
            &::after {
                content: "";
                position: absolute;
                background: black;
                height: 10px;
                width: 100%;
                bottom: 15px;
                border-radius: 15px 15px 2px 2px;
            }
        }
    }
}

@media (max-width: 992px) {
    nav {
        width: 150px;
    }
}

@media (max-width: 767px) {
    nav {
        display: none;
    }
    main {
        margin-left: 0;
        .burger-btn {
            display: block;
        }
    }
}

@media (min-width: 767px) {
    #nav {
        display: block !important;
    }
    main {
        .burger-btn {
            display: none !important;
        }
        .close-btn {
            display: none !important;
        }
    }
    nav {
        .socials {
            a {
                font-size: 2rem;
            }
        }
    }
}